@import url("file/bootstrap.min.css");
@import url("file/normalize.css");
@font-face {
  font-family: 'InterMedium';
  src: url('file/Inter-Medium.woff') format('woff');
}
body {
  font-family: InterMedium;
}
